#app {
  font-family: "Avenir", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3350;
  text-align: center;
  margin-top: 60px;
}

.joke-card {
  border: 2px solid #2c3350;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}
